#td_plugin_report_dashboard_widget table{
  border: 1px solid #c7c7c7;
  border-spacing: 0;
}


#td_plugin_report_dashboard_widget th{
background: #bb272c;
color: white;
padding: 15px 15px 15px 7px;
position:relative;
}

#td_plugin_report_dashboard_widget th svg{
  max-width: 25px;
  max-height: 25px;
  position: absolute;
  right: 7px;
  top: 12px;
}


#td_plugin_report_dashboard_widget td{
  border: 1px solid #c7c7c7;
  padding: 7px;
}


#td_plugin_report_dashboard_widget .clear-log{
  color: #bb272c;
}


#td_plugin_report_dashboard_widget .tend-icon{
  max-width:14px;
  height:auto;
}

#td_plugin_report_dashboard_widget .table-holder{
  max-height: 400px;
  overflow: scroll;
  border: 1px solid #c7c7c7;
}


/* not live chat css */
.tend_nlc_chat{position:fixed;bottom:0;right:10px;z-index:999;font-size:15px}
.tend_nlc_chat.open{max-height:90%;overflow-y:scroll;border:1px solid #bb272d}
.tend_nlc_chat .gform_wrapper ul.gform_fields{list-style:none;margin-left:0}
.tend_nlc_chat .gform_wrapper .gfield{margin-bottom:10px}
.tend_nlc_chat .gform_wrapper .gform_footer .gform_button{background-color:#bb272d;color:#fff}
.tend_nlc_chat_icon{background:#bb272d;width:40px;height:40px;border-radius:50%;cursor:pointer;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-right:5px;margin-bottom:20px}
.tend_nlc_chat_icon span{color:#fff}
.tend_nlc_chat_icon svg{fill:#fff;width:20px;height:20px;}
.tend_nlc_chat_content{display:none;background:#fff;min-width:250px;overflow:hidden;max-width:400px}
.tend_nlc_chat_banner{background:#bb272d;padding:0px 20px; line-height:48px; display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;overflow:hidden}
.tend_nlc_chat_banner h2{color:#fff;float:left;margin:0; font-size:15px;}
.tend_nlc_chat_banner svg {width:25px; height:25px;     margin-bottom: -6px;}
.tend_nlc_chat_close{float:right;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.tend_nlc_chat_close svg{fill:#fff;width: 25px; height: 25px; margin-bottom: 0;}
.tend_nlc_chat_content_inner{margin-bottom:30px;padding:10px 20px}
.tend_nlc_chat_content_inner .gform_wrapper li{width:100%}
.tend_nlc_chat_content_inner .gform_wrapper textarea.large{max-height:200px}
p.tend_nlc_chat_content_inner_message{text-align:center;font-style:italic}
@media (min-width: 768px){
  .tend_nlc_chat_icon{    width: 65px; height: 65px; border-radius: 50%; color: #fff; padding: 0; padding-right: 0px;}
  .tend_nlc_chat_icon svg{width:30px;height:30px;}
}

#td-nlc {
padding-top:20px;
}

#td-nlc textarea, #td-nlc input[type="text"]{
  width:100%;
  font-size: 13px;
}

#td-nlc label{
font-size: 13px;
line-height: 1.5;
font-weight: bold;
}

#td-nlc textarea{
  margin-top:10px;
}

#td-nlc p.submit {
  margin-top:0px;
}
